body{
        display: flex;
        width: 100%;
}

div {
        width: 100%;
        justify-content: center;
}
.intro{
        background-color: #a9d6e5;
        color: #468faf;
}

.intro h1{
        
}

.bio{
        background-color: #e2eafc;
        color: #b6ccfe;
}