html{
        height: 100%;
}
body{
        display: flex;
        min-height: 100%;
        width: 100%;
}

.main {
        display: block;
}

div {
        display: flex;
        width: 100%;
        justify-content: center;
}
.intro{
        background-color: #a9d6e5;
        color: #468faf;
}

.intro h1{
        justify-content: center;
}

.bio{
        background-color: #e2eafc;
        color: #b6ccfe;
}