html {
        height: 100%;
}

body {
        display: block;
        margin: 0;
        min-height: 100%;
        width: 100%;
}

#intro-page {
        height: 100vh;
}

ul{
        margin: 0 auto;
        list-style: none;
}

li {
        float: left;
        padding: 1px;
        transform: translateY(-50px);
        opacity: 0;
        transition: all 1.5s ease-in;
        font-size: 100px;
}

li.show {
        opacity: 1;
        transform: translateY(0px);
}

#main, #intro-page {
        width: 100%;
        display: block;
}

div {
        display: flex;
        justify-content: center;
        height: 100vh;
        width: 100%;
}
#intro {
        background: #292929;
        color: #ababab;
        font-size: 50px;
        font-family: 'Signika', sans-serif;
        align-items: center;
}

#intro h1 {
}

#bio {
        background: #e2eafc;
        color: #b6ccfe;
}